.footer {
  position: fixed;
  bottom: 8px;
  left: 0px;
  width: 100%;

  background-color: #3b4252;
}

.footer .btm-text {
  position: fixed;
  bottom: 6px;
  left: 3px;
}

#app {
  position: fixed;
  top: 34px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 66px);
  background-color: #2e3440;
  
  border-radius: 10px;
}

#app .app-container {
  padding: 8px;
  display: inline-block;
}

#app .app-container .photo {
  width: 64px;
  height: 64px;
}

#app .app-container .text {
  text-align: center;
  width: 64px;

  overflow: hidden;
  text-overflow: ellipsis;
}

.header {
  position: absolute;

  bottom: -12px;
  left: auto;
  right: -1px;
  height: 36px;
}

.header .header-button {
  display: inline-flex;

  padding: 4px;
}

.header .header-button:hover {
  background-color: #2e3440;
}

.header .header-button .photo {
  width: 24px;
  height: 24px;
}

.header .header-button .text {
  padding-left: 8px;
  font-size: 16px;
}